# 用于每篇 blog 最后一行的作者介绍
<div class="mini-bio">
    <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a rel="me" href="http://twitter.com/{{ site.twitter.username }}">
          <img alt="{{ site.title }}" class="avatar" src="{{ '/assets/images/avatar.jpg' | relative_url | prepend: site.url }}" width="70" height="70">
        <div><span class="name" itemprop="name">{{ site.title }}</span><span>{{ site.description }}</span></div>
      </a>
  </div>
  <span class="share">
  </span>
</div>
